In [1]:
# 必要なライブラリのインポート
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [2]:
# 人口構成のCSVファイルの読み込み
df = pd.read_csv("population_data/japan_population.csv")
df.head()

    集計年  都道府県コード 都道府県名        総人口
0  1960        1   北海道  5039206.0
1  1960        2   青森県  1426606.0
2  1960        3   岩手県  1448517.0
3  1960        4   宮城県  1743195.0
4  1960        5   秋田県  1335580.0

In [3]:
# 全件数の確認
df.shape

(3055, 4)

In [4]:
tokyo = df[df["都道府県名"] == "東京都"]
tokyo.head(10)

      集計年  都道府県コード 都道府県名         総人口
12   1960       13   東京都   9683802.0
59   1961       13   東京都   9967000.0
106  1962       13   東京都  10224000.0
153  1963       13   東京都  10470000.0
200  1964       13   東京都  10668000.0
247  1965       13   東京都  10869244.0
294  1966       13   東京都  11018000.0
341  1967       13   東京都  11162000.0
388  1968       13   東京都  11286000.0
435  1969       13   東京都  11367000.0